

H1{
    text-align: center;
    margin: 12px 0;
}

.myForm{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container{
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}
body {
    background-color:aqua;
    /* Set a white background for printing */
}

.myInput{
    font-size: 16px;
    width: 100%;
    border-radius: 10px;
    padding: 11px;
    margin: 11px;
    border: 2px solid black;
    outline: none;
    
}
.btn{
    border: 3px solid black;
    border-radius: 6px;
    padding: 8px 18px;
    margin: 27px;
    color: white;
    background: rgba(255, 255, 255, 0.644);
    font-size: 19px;
    cursor: pointer;
}